<div style="
  background-image: linear-gradient(to bottom right, rgb(31, 57, 124), rgb(12, 23, 53));">
<div>
  <app-navbar></app-navbar>

</div>

<div style=" height: 100%; display: flex; align-items: center; justify-content: center; ">
  <div class="container"  >
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-3 p-4 " style=" display: flex; justify-content: center; align-items: center;">
          <div  class="lottie-container" #lottieContainer></div>
        </div>    
      <div class="col-md-6 col-sm-12 p-4" style=" display: flex; justify-content: center; align-items: center; flex-direction: column; "> 
        <div class="col-md-10 col-sm-12" *ngFor="let advert of advert">  
          <h1 data-shadow='dang!'>{{advert.degree}}</h1>
          <h6 style="color: white;" class="mb-4 mt-4">{{advert.fullname}}</h6>

          <p style="width: 100%; line-height: 40px; color: white;">{{advert.advert_text}}</p>
       <div style="display: flex; justify-content: space-between;">
        <a href="#" class="button mt-4  " >
          <span class=" pi pi-phone " style="padding: 15px; background-color: rgb(237, 172, 42); font-size: 20px;"></span>
          <span class="text">aylinnayduvann@icloud.com</span>
          
        </a>

        <a href="#" class="button mt-4" href="https://github.com/aylinayduvan1">
          <span class="   fab fa-github fa-2x margin "   style="padding: 15px; background-color: rgb(237, 172, 42); font-size: 20px;"></span>
        </a>

        <a href="#" class="button mt-4" href="https://www.linkedin.com/in/aylin-ayduvan-678376202/">
          <span class="   fab fa-linkedin fa-2x margin "   style="padding: 15px; background-color: rgb(237, 172, 42); font-size: 20px;"></span>
        </a>

        <a href="#" class="button mt-4"href="https://www.youtube.com/channel/UC0_ujxSEJaWWJQd_Q7YCfkA">
          <span class="fab fa-youtube fa-2x margin "   style="padding: 15px; background-color: rgb(237, 172, 42); font-size: 20px;"></span>
        </a>
       </div>



        
           <!-- <button type="button" class="btn btn-outline-warning mt-3" style="width: 180px; height: 45px; border-radius: 12px;">İletişim</button> -->
        </div>
  
      </div>
     
    </div>
  </div>
</div>
</div>



<app-content></app-content>

<app-commetns></app-commetns>

<app-footer></app-footer>




